.container
  h1 Update product

  =simple_form_for @product, url: admin_product_path, method: :put do |f|
    =f.input :name
    =f.input :description
    =f.filestack_field :image, 'Upload Your Product Photo!'
    p
    =f.submit 'Update Product', class: 'btn btn-info btn-sm'

  =simple_form_for @line, url:  admin_line_path, method: :put do |t|
    =t.input :price
    =t.select(:size, [['250ml', '250ml'], ['375ml', '375ml'], ['500ml', '500ml'], ['N.A', 'N.A']])

    p
    =t.submit 'Update Product Attributes', class: 'btn btn-info'


