.container
  h1 Create new product

  =simple_form_for @product, url: admin_products_path, method: :post do |f|
    =f.input :name
    =f.input :description
    br
    =f.filestack_field :image, 'Upload Your Product Photo!'
    br
    br
    =f.submit 'Create Product', class: 'btn btn-info'

