/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.signup {
  padding: 25px;
}

body {
  background-image: url(background.jpg);
  background-size: cover;
}

body.pages.index {

  .prob-logo {
    height: 50px;
    width: 100px;
  }

  .nav-link {
    color: gray;
    justify-content: center;
  }

}

body.admin-products.show {

  .background {
    background-color: white;
    width: 50%;
  }
}

.jumbotron {
  background-color: #EEFAAC;
  opacity: 0.8;
  padding-top: 5%;
}

.bene-card {
  background-color: #ccffcc;
  opacity: 0.8;
}

.col-sm {
  margin: 10px;
}
.prob-logo {
  height: 50px;
  width: auto;
}

.product-filter {
  display: flex;
}

.product-filter h1 {
  flex-grow: 1;
}

.sort {
  display: flex;
}
.collection-sort {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  padding: 2%;
  flex: 1 25%;
}

.product-image img {
  max-width: 100%;
}

.product-info {
  margin-top: auto;
}


@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }
}

/* Select the first two */
.products .product-card:first-child,
.products .product-card:nth-child(2) {
  flex: 2 46%;
}

@media (max-width: 480px) {
  .product-filter {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .product-filter {
    flex-direction: column;
  }
.sort {
  align-self: flex-start;
}
}

.card.product-card {
  margin: 10px;
}
